export(ajustar_curva)
export(avaliar_adequacao)
export(comparar_modelos)
export(diagnosticar_curva)
export(dados_eurachem_a52)
export(grafico_calibracao)
export(grafico_incerteza_predicao)
export(grafico_residuos)
export(grafico_variancia)
export(painel_calibracao)
export(retrocalcular_concentracao)
export(relatorio_auditoria)
export(validar_curva)
S3method(print,valcurva_fit)
importFrom(stats,aggregate)
importFrom(stats,ave)
